<ul class="eventslist">
	<% if (obj.length) { %>
		<% for (var i = 0; i < obj.length; i++) { %>
		<% if (obj[i].eventDate > Date.now()) { %>
			<li class="concert-instance">
				<div class="date-wrap">
					<a class="url-date" href="#">
						<span class="day">
							<%= ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'][obj[i].eventDate.getDay()] %>
						</span>
						<span class="date">
							<%= obj[i].eventDate.getDate() %>
						</span>
						<span class="month">
							<%= ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'][obj[i].eventDate.getMonth()] %>
						</span>
						<span class="year">
							<%= obj[i].eventDate.getFullYear() %>
						</span>
					</a>
				</div>
				<p class="subject">
					<a href="#"><strong><%= obj[i].eventName %></strong></a>
					<br>
					<%= obj[i].venue %>
				</p>
			</li>
			<% } %>
		<% } %>
	<% } %>
</ul>
